<section id="about">
	<h2> About Me: </h2>
	<p>I'm a third year at the College of William and Mary, though I'll be graduating a semester early. My major is Government, and my minor is in Computer Science. I recently, with the help of my roommate, have started toying around with ruby and github and am having a lot of fun. This webpage is my first project, and I'm hoping that it will prove to be a meaningful learning experience.
	</p>
</section>