<section id="about">
	<h2> About Me: </h2>
	<p>I'm a third year at William and Mary, though I'll be graduating a semester early. I'm a government major, computer science minor and I have recently, with the help of my roommate, started toying around with ruby/html/css and am having a lot of fun. This webpage is my first project, and I'm hoping that it will prove to be a meaningful learning experience. Shoutout to <a href="http://jacboweiss.me">Jake Weiss</a> for all his help and honorable mention to <a href="http://jmduke.net">Justin Duke</a> for being a bro. 
	</p>
</section>