<!doctype html>
<html>
  <head>
  	<link href='http://fonts.googleapis.com/css?family=Alegreya:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="alternate" type="application/atom+xml" title="<%= title %> - feed" href="/index.xml" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/> 
    <title>Scott W Clark</title>
  </head>
  <body>
  	<h1 id="title">Scott W Clark</h1> <br>
  	<a href="mailto:scottclark591@gmail.com">
  	scottclark591@gmail.com</a>
    <section>
      <%= yield %> 
    </section>
    <footer>
      powered by <a href="http://cloudhead.io/toto">toto</a>
    </footer>
  </body>
</html>

