<!doctype html>
<html>
  <head>
  	<link href='http://fonts.googleapis.com/css?family=Alegreya:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="alternate" type="application/atom+xml" title="<%= title %> - feed" href="/index.xml" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/> 
    <title>Scott W Clark</title>
  </head>
  <body>
  	<h1 id="title"><a href="/">Scott W Clark</a></h1> <br>
  	<div id="sections">
  		<div id="sectionleft">
  			<div class="links"><a href="/about/">About</a></div>
  			<div class="links"><a href="http://twitter.com/clarkbarz">
  			Twitter</a></div>
  		</div>
  		<div id="sectionright">
  			<div class="links"><a href="mailto:scottclark591@gmail.com">
  			Email:</a> scottclark591@gmail.com</div>
  		</div>
  	</div>	
    <div id="content">
      	<%= yield %> 
    </div>
    <footer id="footer">
      	powered by <a href="http://cloudhead.io/toto">toto</a>
    </footer>
  </body>
</html>

